.main{
	overflow: hidden;
}
.content-list{
	margin-right: 220px;
}
.right-content{
	float: right;
	width: 200px;
}
.content-wrapper{
	overflow: hidden;
}
.content-wrapper h2{
	padding: 10px 0;
	border-bottom: 1px solid #d3d3d3;
	font-size: 18px;
}
.index-article-list{
	line-height: 40px;
}
.other-info dd{
	background: #DEEBF7;
	border-radius: 4px;
	padding: 5px;
	margin-bottom: 20px;
}
.other-info h3{
	text-align: center;
	font-size: 18px;
    padding: 5px 0 10px;
	border-bottom: 1px solid #d3d3d3;
}
.other-info .index-rt-list{
	font-size: 14px;
	line-height: 30px;
	margin-top: 11px
}
.newest-scan{
	height: 400px;
	overflow: hidden;
	padding: 30px;
}
.go-on-read{
	padding: 10px 0;
	float: right;
}
.newest-scan *{
	line-height: 40px
}









